body{
  font-family: 'Courier New', Courier, monospace;
  background-color:#18C009;

  
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
}

.logo{

 max-width: 300px;

 
}
@media (max-width: 300px) {
  .logo{
    width: 75%;
  }
}

.synthweb,.stealthAx{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.title,.total-balance{
  font-weight: 900;
  font-size: 20px;
  color: #DA0C81;
}

.container,.balance{
  
  max-width: 800px;
  margin: auto;
  
  background: rgba(255, 255, 255, 0.4);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  box-shadow: 10px 10px 10px rgb(19, 18, 19);
 
}

.cart-title,.balance-title{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;


}

.welcome{
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 22px;
  color: #9c025a;
}


.total-balance{
  color: #f5098f;
  font-size: 31px;

}

.coustom-input{
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  
  
}

.coustom-input input{

  font-size: 20px;

  border-radius: 20px;

  text-align: center;
  width: 70%;
}

.coustom-record,.buy,.refill-balance{

  font-size: 20px;
  background-color:#40ADF9;
  margin-bottom: 10px;
  box-shadow:0 0 20px ;
}

.history{
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  color: #DA0C81;
  margin-bottom: 30px;
}

.delete{
  font-size: 14px;
  font-weight: 900;
  color : white;
  background-color: rgb(196, 7, 7);
}

.shopping{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.shopping-items{

  width: 150px;
  height: 150px;
}

.white-background{
  background-color: white;
  width: 150px;
  text-align: center;
  box-shadow: 0 0 10px;
  background: rgba(255, 255, 255, 0.4);
  
}


.refill{
  text-align: center;
}

.refill-balance{
  background-color: #18c009;
}

ul{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
}


.refill-animation{

  display: flex;
  justify-content: center;
}

.name,.price{
  font-weight: 900;
  font-size: 20px;

}